<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Определение формата вывода логов -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для корневого логгера -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Уровень логирования для пакета приложения -->
    <logger name="org.example" level="DEBUG" />
</configuration>
